<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}

    <section id="default" class="container content-section text-center">
            <div class="container">
                <h2>{{ page.title }}</h2>
                <div class="row">
                    <div class="col-md-2" ></div>
                    <div class="col-md-7" style='text-align: left'>
                        {{ content }}
                    </div>
                </div>
            </div>
    </section>

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
